In [1]:
class car:
    pass

In [2]:
audiq7=car()

In [3]:
audiq7

In [4]:
audiq7.milage=10
audiq7.year=2020
audiq7.model="hsxs"

In [5]:
audiq7.milage

10

In [6]:
audiq7.model

'hsxs'

In [7]:
audiq7.year

2020

In [8]:
nano=car()

In [9]:
nano.milage=20

nano.year=2020

In [10]:
nano.milage

20

In [11]:
print(nano.year,audiq7.year)

2020 2020

In [12]:
class car:
    def __init__(self,milage,year,make,model):
        self.milage=milage
        self.year=year
        self.make=make
        self.model=model

In [14]:
# nano1=car()
nano1=car(20,2020,3323,"dsfsd")

In [16]:
class car1:
    def __init__(a,milage,year,make,model):
        a.milage=milage
        a.year=year
        a.make=make
        a.model=model

In [17]:
nano1=car1(20,2022,656,"sdfdsf")

In [18]:
nano1.milage

20

In [19]:
nano1.year

2022

In [20]:
class car2:
    def __init__(a,m,y,ma,mo):
        a.milage=m
        a.year=y
        a.make=ma
        a.model=mo

In [21]:
nano2=car2(30,2021,5454,"sds")

In [22]:
nano2.make

5454

In [27]:
class car3:
    def __init__(a,m,y,ma,mo):
        a.milage=m
        a.year=y
        a.make=ma
        a.model=mo
        
    def age(self,current_year):
        return current_year-self.year

In [28]:
nano3=car3(30,2021,5454,"sds")

In [25]:
nano3.age

In [30]:
nano3.age(2022)

1

In [31]:
class car4:
    def __init__(a,m,y,ma,mo):
        a.milage=m
        a.year=y
        a.make=ma
        a.model=mo
        
    def age(self,current_year):
        return current_year-self.year
    
    def milage1(self):
        print("milage of car is ",self.milage)

In [32]:
nano4=car4(30,2021,5454,"sds")

In [33]:
nano4.milage1()

milage of car is  30

In [39]:
print(nano4)

<__main__.car4 object at 0x7f84e0d4ebe0>

In [34]:
class car5:
    def __init__(a,m,y,ma,mo):
        a.milage=m
        a.year=y
        a.make=ma
        a.model=mo
        
    def age(self,current_year):
        return current_year-self.year
    
    def milage1(self):
        print("milage of car is ",self.milage)
        
    def __str__(c):
        return "this is car class which is i created"

In [35]:
nano5=car5(30,2021,5454,"sds")

In [37]:
nano5.__str__()

'this is car class which is i created'

In [38]:
print(nano5)

this is car class which is i created

In [225]:
class student:
    
    def __init__(self,name,rollno,joining_date,current_topic):
        self.name=name
        self.rollno=rollno
        self.joining_date=joining_date
        self.current_topic=current_topic
        
    def crt_topic(self):
        print("curent topic in class is ",self.current_topic)
    
    def str_rollno(self):
        try:
            if type(self.rollno)==str:
                print("do nothing")
            else:
                return str(self.rollno)
        except Exception as e:
            print("this is not acceptable argument")
    
    def name_parsing(self):
        if type(self.name)==list:
            for i in self.name:
                print("name in the list is ",i)
        else:
            print("name of the student is not in the list")
        
    def duration(self,current_date):
        print("duration of a student {} year".format(current_date-self.joining_date))
        
    def __str__(self):
        return ("this is a student class where students can input their data and fetch their data")

In [226]:
srini=student()

TypeError: __init__() missing 4 required positional arguments: 'name', 'rollno', 'joining_date', and 'current_topic'

In [227]:
srini=student("srini",121,2021,"oops")

In [228]:
srini.duration(2022)

duration of a student 1 year

In [229]:
srini.str_rollno()

'121'

In [230]:
print(srini)

this is a student class where students can input their data and fetch their data

In [231]:
hasmukh=student("hasmukh",21,2019,"data science")

In [232]:
hasmukh.duration(2022)

duration of a student 3 year

In [233]:
multiple_student=student(["hasmukh","ravi","kapil","amit"],[10,15,46,12],2019,"b.sc")

In [234]:
multiple_student.name_parsing()

name in the list is  hasmukh
name in the list is  ravi
name in the list is  kapil
name in the list is  amit

In [235]:
multiple_student.str_rollno()

'[10, 15, 46, 12]'

In [300]:
class data:
    
    def __init__(self,filename,filetype,date,size):
        self.filename=filename
        self.filetype=filetype
        self.date=date
        self.size=size
        
        
    def file_open(self,filename):
            f=open(filename,'w')
            f.write("hasmukh mer sarva")
            f.close()
            return "file is created"
            
            
    def file_read(self,filename):
        import os
        
        if filename in os.listdir(os.getcwd()):
            f=open(filename,'r+')
            return f.read()
        else:
            return "file does not exist,please create first"
        
    def file_append(self,filename):
        if filename in os.listdir(os.getcwd()):
            f=open(filename,'a')
            f.write("botad")
            f=open(filename,'r+')
            
            print(f.read())
            f.close()
            
        else:
            return "file does not exist"

In [301]:
file_ops=data("test.txt","txt",2022,1024)

In [302]:
file_ops.file_read("test.txt")

'hasmukh mer sarvabotad'

In [303]:
file_ops.file_open("test.txt")

'file is created'

In [304]:
file_ops.file_read("test.txt")

'hasmukh mer sarva'

In [305]:
file_ops.file_append("test.txt")

hasmukh mer sarvabotad

In [1]:
class data2:
    
    def __init__(self,filename,filetype,date,size):
        self.filename=filename
        self.filetype=filetype
        self.date=date
        self.size=size
        
        
    def file_open(self,filename):
        try:
            f=open(filename,'w')
            f.write("hasmukh mer sarva")
            self.log_fun("open and data write in file successfully")
            
            f.close()
            return "file is created"
        except Exception as e:
            self.log_fun(str(e))
            self.log_fun("open file exception occured")
            
            
            
            
            
    def file_read(self,filename):
        import os

        if filename in os.listdir(os.getcwd()):
            f=open(filename,'r+')
            self.log_fun("data read successfully")
            return f.read()
        else:
            self.log_fun("file does not exist")
            
            return "file does not exist,please create first"
        
    def file_append(self,filename):
        try:
            import os
            if filename in os.listdir(os.getcwd()):
                f=open(filename,'a')
                f.write("botad")
                self.log_fun("data append successfully")
                f=open(filename,'r+')
                self.log_fun("data read successfully")
                
                
                print(f.read())
                f.close()

            else:
                self.log_fun("file does not exist")
                return "file does not exist"
        except Exception as e:
            self.log_fun(str(e))
            self.log_fun("exception occured in file_append funtion")
        
    def log_fun(self,info):
        try:
            import logging

            logging.basicConfig(filename="logfile.log",level=logging.DEBUG,format='%(asctime)s-%(levelname)s-%(name)s-%(message)s')
            logging.info(info)
            # logging.exception(exception)
        except Exception as e:
            return str(e)

In [2]:
file_ops=data2("test.txt","txt",2022,1024)

In [3]:
file_ops.file_open("test.txt")

'file is created'

In [4]:
file_ops.file_append("test.txt")

hasmukh mer sarvabotad

In [5]:
file_ops.file_read("test.txt")

'hasmukh mer sarvabotad'