In [1]:
a=19
b=9
a+b

28

In [2]:
def test(x,y):
    pass

In [4]:
# test()

In [5]:
test(5,4)

In [6]:
def test(x,y):
    print(x+y)

In [7]:
test(10,45)

55

In [8]:
test(2,6)

8

In [9]:
def test1(m,n):
    return m * n

In [10]:
test1(4,5)

20

In [14]:
type(test(1,3))
# type(test1(4,5))

4

NoneType

In [15]:
a=test(4,5)

9

In [19]:
type(a)

NoneType

In [17]:
b=test1(4,5)

In [20]:
type(b)

int

In [21]:
def test2(n,m,j):
    return m + n

In [23]:
# test2(4,5)
test2(4,5,8)

9

In [26]:
def test3(m,n):
    return m*10,n*12,m+n

In [28]:
test3(4,5)

(40, 60, 9)

In [29]:
type(test3(4,5))

tuple

In [31]:
a,b,c=test3(4,5)

In [32]:
a

40

In [33]:
b

60

In [34]:
c

9

In [35]:
a,b,_=test3(4,25)

In [36]:
a

40

In [37]:
b

300

In [39]:
_

29

In [41]:
def test4(n):
    return n*2

In [42]:
test4([1,23,34])

[1, 23, 34, 1, 23, 34]

In [43]:
test4(45)

90

In [44]:
def test5(n):
    return n , n*3

In [45]:
test5([4,5,6])

([4, 5, 6], [4, 5, 6, 4, 5, 6, 4, 5, 6])

In [47]:
a=test5([4,5,6])
a[0]

[4, 5, 6]

In [48]:
a[1]

[4, 5, 6, 4, 5, 6, 4, 5, 6]

In [50]:
def test6(n,m=10):
    return n*m

test6(12)

120

In [51]:
def boolx(x=True,y=False):
    return x+y

In [53]:
print(boolx)

<function boolx at 0x7fe46e61a940>

In [54]:
boolx(True)

1

In [55]:
boolx(False)

0

In [56]:
boolx(True,True)

2

In [57]:
def travel(bike=True,car=False):
    plan_tavel=bike or car
    return bike,car,plan_tavel

In [58]:
travel()

(True, False, True)

In [59]:
travel(False)

(False, False, False)

In [60]:
travel(car=True)

(True, True, True)

In [66]:
def test7(*args):


    return args

In [67]:
test7("hasmukh",25)

('hasmukh', 25)

In [86]:
def list_concate(*args):
    l=[]
    for i in args:
        for j in i:
            l.append(j)
        
    return l

In [91]:
list_concate([1,24],[3,4])

[1, 24, 3, 4]

In [92]:
# list_concate("hasmukh",25,[1,24],[3,4])

In [93]:
def list_concate2(*args):
    l=[]
    for i in args:
        if type(i)==list:
            for j in i:
                l.append(j)
        
    return l

In [96]:
list_concate2("hasmukh",25,[1,24],[3,4])

[1, 24, 3, 4]

In [97]:
def test8(**kwargs):
    return kwargs

In [100]:
# test8([2,4,5])

In [99]:
test8(a=1,b=2,c=3,d=4)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [101]:
test8(a=1,b=[2,4,5,6],c="hasmukh",d=["mer","hasmukh"])

{'a': 1, 'b': [2, 4, 5, 6], 'c': 'hasmukh', 'd': ['mer', 'hasmukh']}

TASK:

(1) create a function which take multiple number of mixed data and try to create a list of separate data based on data type and return  multiple results.
(2) create a function which will be able use *args and **kwargs and it will be able to do all the list value concatenation and return a list.

In [110]:
# Task 1
list_list=[]
list_str=[]
list_int=[]
list_tuple=[]
def fun1(*args):
    for i in args:
        if type(i)==list:
            list_list.append(i)
        elif type(i)==str:
            list_str.append(i)
        elif type(i)==int:
            list_int.append(i)
        elif type(i)==tuple:
            list_tuple.append(i)
        else:
            continue
    return list_list,list_str,list_int,list_tuple

In [113]:
fun1("hasmukh","mer",[1,2,3],45,448,10,10)

([[1, 2, 3], [1, 2, 3]],
 ['hasmukh', 'mer', 'hasmukh', 'mer'],
 [45, 448, 10, 10],
 [])

In [112]:
list_list

[[1, 2, 3]]

In [114]:
#Task 1
def func1(*args):
    dt={}
    for i in args:
        if type(i) in dt:
            dt[type(i)].append(i)
        else:
            dt[type(i)]=[i]
    return dt

In [116]:
func1("hasmukh","mer",45,8,9,6)

{str: ['hasmukh', 'mer'], int: [45, 8, 9, 6]}

In [117]:
def func2(*args,**kwargs):
    l=[i for i in args if type(i)==list]
    d=[i[i] for i in kwargs.items() if type(i[1])==list]
    return l,d

In [119]:
func2("hasmukh","mer",45445,556,[45,6,9,8,41])

([[45, 6, 9, 8, 41]], [])

In [120]:
def test9(a,b):
    return a+b

In [121]:
test9(5,6)

11

In [122]:
l1=lambda x,y:x+y

l1(78,12)

90

In [123]:
type(l1)

function

In [125]:
a="hasmukh"
b="mer"
c=lambda arg1,arg2:print(arg1,arg2)

c(a,b)

hasmukh mer

In [126]:
r=10 #global variable
def test10(a,b):
    r=a/b #local variable
    print(r)


test10(10,10)

1.0

In [127]:
print(r)

10

In [130]:
def doc_string():
    """ 
    This  is test function for doc string
    """
    print("my name is hasmukh mer")

In [129]:
doc_string()

my name is hasmukh mer

In [131]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [133]:
help(doc_string)

Help on function doc_string in module __main__:

doc_string()
    This  is test function for doc string