In [1]:
!pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-8.0.31-cp38-cp38-manylinux1_x86_64.whl (23.5 MB)
     |████████████████████████████████| 23.5 MB 15.3 MB/s eta 0:00:01
Collecting protobuf<=3.20.1,>=3.11.0
  Downloading protobuf-3.20.1-cp38-cp38-manylinux_2_5_x86_64.manylinux1_x86_64.whl (1.0 MB)
     |████████████████████████████████| 1.0 MB 69.5 MB/s eta 0:00:01
Installing collected packages: protobuf, mysql-connector-python
Successfully installed mysql-connector-python-8.0.31 protobuf-3.20.1

In [2]:
import mysql.connector as connection

In [5]:
import mysql.connector as connection

try:
    mydb=connection.connect(host="localhost",user="abc",passwd="password",use_pure=True)
    query="show databases;"

    cursor=mydb.cursor()
    cursor.execute(query)
    print(cursor.fetchall())
except Exception as e:
    print(e)
    mydb.close()

[('information_schema',), ('mysql',), ('performance_schema',), ('sys',)]

In [6]:
conn=connection.connect(host="localhost",user="abc",passwd="password",use_pure=True)
cursor=conn.cursor()
cursor.execute("show databases")
res= cursor.fetchall()

In [7]:
res= cursor.fetchall()
# cursor.fetchall()

In [8]:
res

[]

In [9]:
res[0][0]

IndexError: list index out of range

In [10]:
for i in res:
    print(i[0])

In [11]:
import mysql.connector as connection

try:
    mydb=connection.connect(host="localhost",user="abc",passwd="password",use_pure=True)
    query="create database student;"

    cursor=mydb.cursor()
    cursor.execute(query)
    print("databse created..!!")
    mydb.close()
    # print(cursor.fetchall())
except Exception as e:
    print(e)
    mydb.close()

databse created..!!

In [12]:
conn=connection.connect(host="localhost",user="abc",passwd="password",use_pure=True)
cursor=conn.cursor()
cursor.execute("show databases")
res= cursor.fetchall()
res

[('information_schema',),
 ('mysql',),
 ('performance_schema',),
 ('student',),
 ('sys',)]

In [13]:
import mysql.connector as connection 

try:
    mydb=connection.connect(host="localhost",database="student",user="abc",passwd="password",use_pure=True)

    print(mydb.is_connected())

    query="create table StudentDetails (Studentid INT(10) AUTO_INCREMENT PRIMARY KEY , FirstName VARCHAR(60)," \
        "LastName VARCHAR(60), RegistrationDate DATE,Class VARCHAR(20), Section VARCHAR(10))"

    cursor = mydb.cursor()
    cursor.execute(query)
    mydb.close()

except Exception as e:
    mydb.close()
    print(str(e))

True

In [14]:
conn=connection.connect(host="localhost",user="abc",passwd="password",use_pure=True)
cursor=conn.cursor()
cursor.execute("show databases")
res= cursor.fetchall()
res

[('information_schema',),
 ('mysql',),
 ('performance_schema',),
 ('student',),
 ('sys',)]

In [15]:
import mysql.connector as connection 

try:
    mydb=connection.connect(host="localhost",database="student",user="abc",passwd="password",use_pure=True)

    print(mydb.is_connected())

    query="create table test (x1 INT(5),x2 VARCHAR(20),x3 DATE)"

    cursor = mydb.cursor()
    cursor.execute(query)
    mydb.close()

except Exception as e:
    mydb.close()
    print(str(e))

True

In [16]:
import mysql.connector as connection 

try:
    mydb=connection.connect(host="localhost",database="student",user="abc",passwd="password",use_pure=True)

    print(mydb.is_connected())

    query="select * from test"

    cursor = mydb.cursor()
    cursor.execute(query)
    print(cursor.fetchall())

    mydb.close()

except Exception as e:
    mydb.close()
    print(str(e))

True
[]

In [17]:
import mysql.connector as connection 

try:
    mydb=connection.connect(host="localhost",database="student",user="abc",passwd="password",use_pure=True)

    print(mydb.is_connected())

    query="insert into test values(100,'hasmukh','2022-10-25')"

    cursor = mydb.cursor()
    cursor.execute(query)
    mydb.commit()
    print(cursor.fetchall())

    mydb.close()

except Exception as e:
    mydb.close()
    print(str(e))

True
[]

In [18]:
import mysql.connector as connection 

try:
    mydb=connection.connect(host="localhost",database="student",user="abc",passwd="password",use_pure=True)

    print(mydb.is_connected())

    query="select * from test"

    cursor = mydb.cursor()
    cursor.execute(query)
    print(cursor.fetchall())

    mydb.close()

except Exception as e:
    mydb.close()
    print(str(e))

True
[(100, 'hasmukh', datetime.date(2022, 10, 25))]

In [19]:
import pandas as pd

ModuleNotFoundError: No module named 'pandas'

In [20]:
!pip install pandas

Collecting pandas
  Downloading pandas-1.5.1-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (12.2 MB)
     |████████████████████████████████| 12.2 MB 2.8 MB/s eta 0:00:01
Collecting numpy>=1.20.3; python_version < "3.10"
  Downloading numpy-1.23.4-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (17.1 MB)
     |████████████████████████████████| 17.1 MB 69.7 MB/s eta 0:00:01
Collecting pytz>=2020.1
  Downloading pytz-2022.5-py2.py3-none-any.whl (500 kB)
     |████████████████████████████████| 500 kB 69.2 MB/s eta 0:00:01
Requirement already satisfied: python-dateutil>=2.8.1 in /config/.local/lib/python3.8/site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /config/.local/lib/python3.8/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Installing collected packages: numpy, pytz, pandas
  WARNING: The scripts f2py, f2py3 and f2py3.8 are installed in '/config/.local/bin' which is not on PATH.
  Consider adding this directory to PATH or, if you prefer to suppress this warning, use --no-warn-script-location.
Successfully installed numpy-1.23.4 pandas-1.5.1 pytz-2022.5

In [24]:
mydb

In [28]:
mydb=connection.connect(host="localhost",database="student",user="abc",passwd="password",use_pure=True)

In [29]:
import pandas as pd

In [31]:
a =pd.read_sql("select * from test",mydb)

/tmp/ipykernel_948/2844812597.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  a =pd.read_sql("select * from test",mydb)

In [33]:
a

    x1       x2          x3
0  100  hasmukh  2022-10-25