In [2]:
import mysql.connector as connection

In [8]:
import mysql.connector as connection

try:
    mydb=connection.connect(host="localhost",user="root",passwd="password",use_pure=True)
    query="show databases;"

    cursor=mydb.cursor()
    cursor.execute(query)
    print(cursor.fetchall())
except Exception as e:
    print(e)
    mydb.close()

[('information_schema',), ('mysql',), ('performance_schema',), ('sys',)]

In [22]:
conn=connection.connect(host="localhost",user="root",passwd="password",use_pure=True)
cursor=conn.cursor()
cursor.execute("show databases")
res= cursor.fetchall()

In [23]:
res= cursor.fetchall()
# cursor.fetchall()

In [24]:
res

[('information_schema',), ('mysql',), ('performance_schema',), ('sys',)]

In [27]:
res[0][0]

'information_schema'

In [32]:
for i in res:
    print(i[0])

information_schema
mysql
performance_schema
sys

In [33]:
import mysql.connector as connection

try:
    mydb=connection.connect(host="localhost",user="root",passwd="password",use_pure=True)
    query="create database student;"

    cursor=mydb.cursor()
    cursor.execute(query)
    print("databse created..!!")
    mydb.close()
    # print(cursor.fetchall())
except Exception as e:
    print(e)
    mydb.close()

databse created..!!

In [34]:
conn=connection.connect(host="localhost",user="root",passwd="password",use_pure=True)
cursor=conn.cursor()
cursor.execute("show databases")
res= cursor.fetchall()
res

[('information_schema',),
 ('mysql',),
 ('performance_schema',),
 ('student',),
 ('sys',)]

In [38]:
import mysql.connector as connection 

try:
    mydb=connection.connect(host="localhost",database="student",user="root",passwd="password",use_pure=True)

    print(mydb.is_connected())

    query="create table StudentDetails (Studentid INT(10) AUTO_INCREMENT PRIMARY KEY , FirstName VARCHAR(60)," \
        "LastName VARCHAR(60), RegistrationDate DATE,Class VARCHAR(20), Section VARCHAR(10))"

    cursor = mydb.cursor()
    cursor.execute(query)
    mydb.close()

except Exception as e:
    mydb.close()
    print(str(e))

True

In [39]:
conn=connection.connect(host="localhost",user="root",passwd="password",use_pure=True)
cursor=conn.cursor()
cursor.execute("show databases")
res= cursor.fetchall()
res

[('information_schema',),
 ('mysql',),
 ('performance_schema',),
 ('student',),
 ('sys',)]

In [40]:
import mysql.connector as connection 

try:
    mydb=connection.connect(host="localhost",database="student",user="root",passwd="password",use_pure=True)

    print(mydb.is_connected())

    query="create table test (x1 INT(5),x2 VARCHAR(20),x3 DATE)"

    cursor = mydb.cursor()
    cursor.execute(query)
    mydb.close()

except Exception as e:
    mydb.close()
    print(str(e))

True

In [44]:
import mysql.connector as connection 

try:
    mydb=connection.connect(host="localhost",database="student",user="root",passwd="password",use_pure=True)

    print(mydb.is_connected())

    query="select * from test"

    cursor = mydb.cursor()
    cursor.execute(query)
    print(cursor.fetchall())

    mydb.close()

except Exception as e:
    mydb.close()
    print(str(e))

True
[]

In [48]:
import mysql.connector as connection 

try:
    mydb=connection.connect(host="localhost",database="student",user="root",passwd="password",use_pure=True)

    print(mydb.is_connected())

    query="insert into test values(100,'hasmukh','2022-10-25')"

    cursor = mydb.cursor()
    cursor.execute(query)
    mydb.commit()
    print(cursor.fetchall())

    mydb.close()

except Exception as e:
    mydb.close()
    print(str(e))

True
[]

In [1]:
import mysql.connector as connection 

try:
    mydb=connection.connect(host="localhost",database="student",user="root",passwd="password",use_pure=True)

    print(mydb.is_connected())

    query="select * from test"

    cursor = mydb.cursor()
    cursor.execute(query)
    print(cursor.fetchall())

    mydb.close()

except Exception as e:
    mydb.close()
    print(str(e))

True
[(100, 'hasmukh', datetime.date(2022, 10, 25))]

In [2]:
import pandas as pd

ModuleNotFoundError: No module named 'pandas'